{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<div class="blogpost">


    <h2 class="blogpost-title">{{ item_1.title }}</h2>

    <p class="blogpost-content">{{item_1.description|linebreaksbr}}</p>
    <p style="font-size:26px;" class="blogpost-content">Стоимость круса: {{item_1.cost|linebreaksbr}}</p>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div>
            {{form.as_p}}
            <button type="submit" class="blogpost-return">Приобрести</button>
        </div>
    </form>
        {% comment %} <a class="blogpost-return" href="{% url 'catalog' %}">Приобрести</a> {% endcomment %}
    {% else %}
    <h3 class="blogpost-comment-title">Для добавления курса в корзину, пожалуйста, авторизуйтесь</h3>
    {% endif %}

</div>

<style>
    .blogpost {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px 20px 86px;
    }

    .blogpost-image {
        float: right;
        border: 1px solid #2f3982;
        border-radius: 5px;
        transition: transform 0.6s ease;
    }

        .blogpost-image:hover {
            transform: scale(2, 2) translate(-25%, 25%);
        }

    .blogpost-title {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        border-left: 5px solid #2f3982;
        padding-left: 10px;
    }

    .blogpost-content {
        font-size: 18px;
        color: #666;
        line-height: 1.5;
        margin-bottom: 20px;
    }

        .blogpost-content a {
            color: orange;
        }

            .blogpost-content a:hover {
                text-decoration: underline;
            }

    .blogpost-comment {
        margin-top: 40px;
    }

    .blogpost-comment-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .blogpost-line {
        border: 0;
        border-top: 1px solid #ddd;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .blogpost-return {
        font-size: 16px;
        color: #2f3982;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        border: 1px solid #2f3982;
        border-radius: 4px;
        padding: 10px 20px;
        float: right;
    }

        .blogpost-return:hover, .blogpost-return:active {
            background-color: #202b53;
            text-decoration: none;
            color: white;
        }

    .comment {
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        margin-top: 40px;
    }

    .comment-line {
        border: 0;
        border-top: 1px solid #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .comment-date {
        font-size: 14px;
        color: #888;
        margin-bottom: 5px;
    }

    .comment-author {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .comment-text {
        font-size: 14px;
        color: #666;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .save {
        color: #202b53;
    }

</style>
{% endblock %}
